body {
  background-color: rgb(14, 218, 116);
}
header h1 {
  width: 80%;
  margin: 12px auto;
  text-align: center;
}

main {
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto;
}

section {
  margin: 15px;
}

#buttons {
  width: 530px;
  margin: 12px auto;
  
}

#name-input, 
#email-input {
  margin: 4px 0;
}

fieldset {
  border: 2px solid black;
}

#description {
  resize: none;
  margin: 10px auto;
}

p {
  margin-top: -10px;
}

#send, #clear {
  border-radius: 10%;
  padding: 5px 30px;
}